[Unit]
Description=ML Deployments 
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ML_Deployment
ExecStart=python /home/ubuntu/ML_Deployment/ML\ CA1/app.py
[Install]
WantedBy=multi-user.target
